.odd {
    font-size: 16px;
    background-color: red;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#two {
    color:blue;
    font-size: 36px;
}

#four {
    font-weight: bold;
    background-color: green;
}